* {
    background-color: rgb(87, 100, 15);
    }
    h1 {
        color: rgb(150, 193, 10);
        text-align: center;
    }
    hr{
        color: rgb(12, 136, 94);
    }
    label{
        color: rgb(78, 170, 227);
    }
    p {
        color: aqua;
    }
    a {
        color: chartreuse;
        text-decoration: none;
    }
    input {
        color: rgb(219, 214, 125);
    }